In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass

In [2]:
# Get the MySQL password securely
password = getpass.getpass()

········

In [3]:
# Create the connection string
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'

In [4]:
# Create the engine
engine = create_engine(connection_string)

In [5]:
# Retrieve the number of rentals for each customer for May
query_may = "SELECT customer_id, COUNT(*) AS may_rental_count FROM rentals_may GROUP BY customer_id;"
df_may = pd.read_sql_query(query_may, engine)

In [6]:
print(df_may)

     customer_id  may_rental_count
0            130                 8
1            459                 2
2            408                 6
3            333                 2
4            222                10
..           ...               ...
515          191                 4
516          351                 2
517           10                 2
518          136                 2
519           61                 2

[520 rows x 2 columns]

In [7]:
# Retrieve the number of rentals for each customer for June
query_june = "SELECT customer_id, COUNT(*) AS june_rental_count FROM rentals_june GROUP BY customer_id;"
df_june = pd.read_sql_query(query_june, engine)

In [8]:
print(df_june)

     customer_id  june_rental_count
0            416                 10
1            516                 12
2            239                 10
3            285                  6
4            310                 12
..           ...                ...
585          412                  2
586          335                  2
587          226                  4
588           22                  2
589          126                  2

[590 rows x 2 columns]

In [9]:
# Function to compare rentals in May and June
def compare_rentals(may_rentals, june_rentals):
    merged_df = pd.merge(may_rentals, june_rentals, on='customer_id', how='outer')
    merged_df['comparison'] = merged_df['june_rental_count'] - merged_df['may_rental_count']
    return merged_df

In [11]:
# Call the function to compare rentals
comparison_df = compare_rentals(df_may, df_june)

In [12]:
# Print the comparison dataframe
print("Rental Comparison:")
print(comparison_df)

Rental Comparison:
     customer_id  may_rental_count  june_rental_count  comparison
0            130               8.0               12.0         4.0
1            459               2.0               14.0        12.0
2            408               6.0                6.0         0.0
3            333               2.0                8.0         6.0
4            222              10.0                4.0        -6.0
..           ...               ...                ...         ...
593          598               NaN                2.0         NaN
594          487               NaN                2.0         NaN
595          555               NaN                2.0         NaN
596          335               NaN                2.0         NaN
597          226               NaN                4.0         NaN

[598 rows x 4 columns]